*{
	margin: 0 auto;
	padding: 0;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*canvas {
  display: block;
  cursor: none;
}
*/
#myinput{
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}